<%- include('./includes/header') %>
<%- include('./includes/nav') %>

<div class="container">
  
    <h1 class="text-center mt-4">Seja Bem vindo, <%=user.email%></h1>
    <p class="lead text-center">Nosso sistema, está em QAP.</p>
    <%- include('./includes/messages')  %>
   
</div>  
    
<%- include('./includes/footer') %>